@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #4b4b4b;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 26px;
    margin-top: 0;
    color: #161616;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.32;
}

h5 {
    font-size: 16px;
    font-weight: 700;
    color: #4B4B4B;
    line-height: 1.65;
}

label {
    margin-bottom: 0;
    font-weight: normal;
    display: inline-block;
    max-width: 100%;
}

input[type="search"] {
    padding: 2px 4px;
    height: 24px;
    -webkit-appearance: none;
    box-sizing: border-box;
}

.form-control, 
.form-select {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 1.65;
    color: #4b4b4b;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus,
.form-select:focus {
    border-color: #00a6fd;
    box-shadow: none;
}

.header {
    margin-bottom: 16px;
    padding-bottom: 16px;
    height: 56px;
    background: #ffffff;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.list-group {
    margin-bottom: 16px;
    padding-left: 0;
}

.list-group-item {
    padding: 2px 16px;
    margin-bottom: 0;
    border: none;
    position: relative;
    display: block;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

a.list-group-item {
    color: #428bca;
    font-weight: 500;
}

a.list-group-item:hover {
    background-color: #f5f5f5;
}

.list-group .list-group-divider {
    height: 1px;
    margin: 9.5px 0;
    overflow: hidden;
    background-color: #d9d9d9;
    display: block;
}

.table-responsive {
    overflow-x: inherit;
    min-height: 0.01%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1;
}

.dataTables_wrapper .dataTables_filter {
    margin-top: 21px;
    margin-bottom: 21px;
    float: none;
    text-align: left;
    color: #333;
}

.dataTables_wrapper .dataTables_filter label {
    width: 100%;
}

.dataTables_wrapper .dataTables_filter label input {
    margin-top: 4px;
    margin-left: 0;
}

.dataTables_wrapper .dataTables_filter label i{
    position: absolute;
    right: 20px;
    top: 30px;
    color: #999999;
    display: none;
}

.dataTables_wrapper .dataTables_filter label i.loading {
    display: initial;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 21px;
    margin-bottom: 21px;
    padding-top: 1px;
    color: #333;
    float: right;
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate a.disabled {
    cursor: default;
    color: #666 !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 0;
    display: inline-block;
    padding: 4px 13px;
    min-width: 1.5em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
}

a.disabled {
    pointer-events: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border: 1px solid #cccbcb;
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #f7f7f7 100%);
    background-repeat: repeat-x;
    color: #333 !important;
}

table {
    border-bottom: 1px solid #dddddd;
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    display: table;
    text-indent: initial;
}

table > tbody > tr > td:first-child,
table > thead > tr > td:first-child {
    padding-left: 4px;
}

table > thead > tr > th {
    padding: 3px 6px;
    font-size: 12px;
    font-weight: 500;
    color: #777;
    line-height: normal;
    vertical-align: bottom;
}

table > thead > tr > th > i {
    color: #d9d9d9;
    padding-right: 5px;
}

th.sorting {
    cursor: pointer;
}

th.sorting.active {
    background-color: #f5f5f5;
}

th.sorting.active i {
    background-color: #f5f5f5;
    color: #428bca;
}

table thead th, table thead td {
    border-bottom: 1px solid #dddddd;
}

tbody > tr > td {
    padding: 6px;
    line-height: normal;
    vertical-align: top;
    border-top: 1px solid #dddddd;
    font-weight: 500;
    cursor: pointer;
    vertical-align: middle;
}

td div, 
td small, 
td span {
    background-color: inherit;
}

tbody tr:hover td{
    background-color: #f5f5f5;
}

tbody tr a {
    padding: 4px 8px;
    background-color: #428bca;
    color: #fff;
    border: 1px solid;
    transition: 0.3s ease;
}

tbody tr a:hover {
    background-color: #24649c;
    color: #fff;
}

small{
    font-size: 87%;
}

.td-word-wrap {
    word-break: break-all;
    word-wrap: break-word;
}

.phone-width-xs {
    min-width: 10em;
}

.modal-content {
    border-radius: 0;
}

.panel {
    border-color: #e3e3e3;
    border-color: transparent;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    font-weight: 500;
}

.panel > .panel-heading {
    color: #484848;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    padding: 2px 16px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom: 1px solid transparent;
    font-weight: 600;
}

.panel-body {
    padding: 16px;
}

.panel-body .list-group {
    margin-bottom: 0px;
}

.panel-body .list-group .list-group-item:last-child a{
    color: #b94a48;
}

.panel-body .list-group .list-group-item a:hover {
    text-decoration: underline;
}

.panel-body .row {
    padding: 8px 0;
}

.control-label {
    line-height: normal;
    text-align: right;
    align-self: center;
    word-wrap: break-word;
}

.control-label label{
    color: #484848;
    font-weight: 500;
}

.control-field {
    line-height: normal;
    word-wrap: break-word;
}

.control-field.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-field.input i {
    padding-left: 6px;
    cursor: pointer;
    font-size: 16px;
    
}

.catalog {
    width: 100%;
    padding: 2px 16px;
    background-color: #f5f5f5;
    margin: 16px 0;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.catalog a {
    font-weight: 500;
}

#order-detail-modal table {
    border-bottom: none;
}

.modal-footer button {
    padding: 4px 8px;
    border: none;
    color: #fff;
    font-weight: 500;
    transition: 0.3s ease;
}

.modal-footer button:first-child {
    background-color: #6c757d;
}

.modal-footer button:last-child {
    background-color: #428bca;
}

.modal-footer button:first-child:hover {
    background-color: #545a5f;
}

.modal-footer button:last-child:hover {
    background-color: #24649c;
}

#change-address-modal .row,
#change-password-modal .row {
    padding: 10px 50px;
}







