<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="index :: header"></div>
		<title>sStore | Cart</title>
	</head>
	<body>
		<section th:replace="index :: navbar"></section>

		<section id="page-header" class="about-header">
			<h2>#cart</h2>
			<p>Add your coupon code & SAVE upto 70%!</p>
		</section>

		<section id="cart" class="section-p1">
			<table width="100%">
				<thead>
					<tr>
						<td>Remove</td>
						<td>Image</td>
						<td>Product</td>
						<td>Price</td>
						<td>Quantity</td>
						<td>Subtotal</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${cartItems}">
						<td>
							<a
								class="del-cart-item"
								th:href="@{/sStore/del-cart-item(itemId=${item.id})}"
								><i class="bx bx-x-circle"></i
							></a>
						</td>
						<td>
							<img th:src="@{${item.product.getMainImage}}" />
						</td>
						<td th:text="${item.product.productName}">
							Cartoon Astronaut T-Shirts
						</td>
						<td class="price" th:text="${item.product.price}">
							$118.19
						</td>
						<td>
							<input
								type="number"
								th:value="${item.quantity}"
								min="1"
								readonly
							/>
						</td>
						<td
							class="price"
							th:text="${item.quantity * item.product.price}"
						>
							$118.19
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<section id="cart-add" class="section-p1">
			<div id="coupon">
				<h3>Apply Coupon</h3>
				<div>
					<input type="text" placeholder="Enter Your Coupon" />
					<button class="normal">Apply</button>
				</div>
			</div>

			<div id="subtotal">
				<h3>Cart Totals</h3>
				<table>
					<tr>
						<td>Cart Subtotal</td>
						<td class="price" th:text="${subTotal}">$ 335</td>
					</tr>
					<tr>
						<td>Shipping</td>
						<td>Free</td>
					</tr>
					<tr>
						<td><strong>Total</strong></td>
						<td>
							<strong class="price" th:text="${subTotal}"
								>$ 335</strong
							>
						</td>
					</tr>
				</table>
				<button class="normal" id="checkout">
					Proceed to checkout
				</button>
			</div>
		</section>

		<footer th:replace="index :: footer"></footer>

		<div th:replace="index :: loginModal"></div>

		<div th:replace="index :: registerModal"></div>
	</body>
	<!-- script -->
	<script src="../static/js/script.js"></script>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		const links = document.querySelectorAll("#navbar li a");
		links.forEach((item) => {
			item.classList.remove("active");
		});
		links[6].classList.add("active");
	</script>
</html>
