<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="index :: header"></div>
		<title>sStore | Contact</title>
	</head>
	<body>
		<section th:replace="index :: navbar"></section>

		<section id="page-header" class="contact-header">
			<h2>#let's_talk</h2>
			<p>LEAVE A MESSAGE, We love to hear from you!</p>
		</section>

		<section id="contact-details" class="section-p1">
			<div class="details">
				<span>GET IN TOUCH</span>
				<h2>Visit one of agency locations or contact us today</h2>
				<h3>Head Office</h3>
				<div>
					<li>
						<i class="bx bx-map-alt"></i>
						<p>Phong Nhị, Điện An, Điện Bàn, Quảng Nam</p>
					</li>
					<li>
						<i class="bx bx-envelope"></i>
						<p>thanhsang6325@gmail.com</p>
					</li>
					<li>
						<i class="bx bxs-phone"></i>
						<p>0777908037</p>
					</li>
					<li>
						<i class="bx bx-time-five"></i>
						<p>Monday to Saturday: 9:00am to 16:00pm</p>
					</li>
				</div>
			</div>

			<div class="map">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3837.117069886298!2d108.23811051451182!3d15.902936548097848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31420f8ae2ff3293%3A0x132e3cf6198b7067!2zVHLGsOG7nW5nIFRIQ1MgUGhhbiBDaMOidSBUcmluaA!5e0!3m2!1svi!2s!4v1657443458161!5m2!1svi!2s"
					width="600"
					height="450"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
		</section>

		<section id="form-details">
			<form action="">
				<span>LEAVE A MESSAGE</span>
				<h2>We love to hear from you</h2>
				<input type="text" placeholder="Your Name" />
				<input type="text" placeholder="E-mail" />
				<input type="text" placeholder="Subject" />
				<textarea
					name=""
					id=""
					cols="30"
					rows="10"
					placeholder="Your Message"
				></textarea>
				<button type="submit" class="normal">Submit</button>
			</form>

			<div class="people">
				<div>
					<img src="../static/image/people/avt.jpg" alt="" />
					<p>
						<span>Nguyen Thanh Sang</span> BE Developer <br />
						Phone: 0777908037 <br />
						Email: thanhsang6325@gmail.com
					</p>
				</div>
			</div>
		</section>

		<section th:replace="index :: newsletter"></section>

		<footer th:replace="index :: footer"></footer>

		<div th:replace="index :: loginModal"></div>

		<div th:replace="index :: registerModal"></div>
	</body>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Script -->
	<script src="../static/js/script.js"></script>
	<script>
		const links = document.querySelectorAll("#navbar li a");
		links.forEach((item) => {
			item.classList.remove("active");
		});
		links[4].classList.add("active");
	</script>
</html>
