<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- BootStrap CSS-->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- BoxIcons -->
		<link
			href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<!-- Autonumeric -->
		<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
		<!-- Sweetalert -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link rel="stylesheet" href="../static/css/shipper.css" />
		<title>Shipper | My Order</title>
	</head>
	<body>
		<div class="header"></div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3" style="padding-right: 50px">
					<div class="row">
						<div class="col-sm-12">
							<div class="list-group">
								<a
									th:href="@{/sStore/shipper-account}"
									class="list-group-item"
									>Nguyen Thanh Sang</a
								>
								<a
									th:href="@{/sStore/shipper-available-orders}"
									class="list-group-item long-value"
									>&nbsp;&nbsp;&nbsp;&nbsp;Available Orders</a
								>
								<span class="list-group-item long-value">
									&nbsp;&nbsp;&nbsp;&nbsp;<strong
										>My Orders</strong
									>
								</span>
								<span class="list-group-divider"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<h1 class="a_title">Available Orders</h1>
					<div class="table-responsive">
						<div class="dataTables_wrapper no-footer">
							<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_filter">
										<form
											action="/sStore/shipper-my-orders"
											method="get"
											id="form-search-2"
										>
											<input
												type="number"
												name="pageNum"
												th:value="${currentPage}"
												hidden
											/>
											<input
												type="number"
												name="sort"
												th:value="${sort}"
												hidden
											/>
											<label>
												<input
													type="search"
													name="search"
													class="form-control"
													placeholder="Filter by user name or phone number"
													th:value="${search}"
												/>
												<i
													class="bx bx-loader-circle bx-spin"
												></i>
											</label>
										</form>
									</div>
								</div>
								<div class="col-sm-7">
									<div
										th:if="${totalPages &gt; 0}"
										class="dataTables_paginate paging_simple_number"
									>
										<a
											th:class="${currentPage &gt; 1 ? 'paginate_button previous' : 'paginate_button previous disabled'}"
											th:href="@{/sStore/shipper-my-orders(numPage=${currentPage - 1}, search=${search}, sort=${sort})}"
											>Previous</a
										>
										<span>
											<a
												th:each="i: ${#numbers.sequence(1, totalPages)}"
												th:class="${currentPage == i ? 'paginate_button current' : 'paginate_button'}"
												th:href="@{/sStore/shipper-my-orders(pageNum=${i}, search=${search}, sort=${sort})}"
												th:text="${i}"
												>1</a
											>
										</span>
										<a
											th:class="${currentPage &lt; totalPages ? 'paginate_button next' : 'paginate_button next disabled'}"
											th:href="@{/sStore/shipper-my-orders(pageNum=${currentPage + 1}, search=${search}, sort=${sort})}"
											>Next</a
										>
									</div>
								</div>
							</div>
							<div>
								<table>
									<thead>
										<tr>
											<th
												th:class="${sort == 1 or sort == 2} ? 'sorting active' : 'sorting'"
												th:data-sort="${sort}"
												id="sort-date-2"
											>
												<th:block th:if="${sort == 1}">
													<i
														class="bx bxs-down-arrow"
													></i>
												</th:block>
												<th:block th:if="${sort == 2}">
													<i
														class="bx bxs-up-arrow"
													></i>
												</th:block>
												<th:block
													th:if="${sort != 1 and sort != 2}"
												>
													<i
														class="bx bxs-sort-alt"
													></i>
												</th:block>
												Date
											</th>
											<th>Contact</th>
											<th
												th:class="${sort == 3 or sort == 4} ? 'sorting active' : 'sorting'"
												th:data-sort="${sort}"
												id="sort-price-2"
											>
												<th:block th:if="${sort == 3}">
													<i
														class="bx bxs-down-arrow"
													></i>
												</th:block>
												<th:block th:if="${sort == 4}">
													<i
														class="bx bxs-up-arrow"
													></i>
												</th:block>
												<th:block
													th:if="${sort != 3 and sort != 4}"
												>
													<i
														class="bx bxs-sort-alt"
													></i>
												</th:block>
												Total Price
											</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr
											th:each="order : ${orders}"
											class="view-order"
											th:data-id="${order.id}"
											data-mode="2"
										>
											<td>
												<smal
													th:text="${order.createAt}"
													>18 06, 2001</smal
												>
											</td>
											<td
												class="td-word-wrap phone-with-xs"
											>
												<div
													th:text="${order.user.userName}"
												>
													Nguyen Thanh Sang
												</div>
												<div>
													<small
														th:text="${order.user.phoneNumber}"
														>0777908037</small
													>
												</div>
											</td>
											<td>
												<span
													th:text="${order.totalPrice}"
													class="price"
													>$0.00</span
												>
											</td>
											<td>
												<a
													class="delivered"
													th:href="@{/sStore/shipper-delivered-order(id=${order.id})}"
													>Delivered</a
												>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="shipper_orders1 :: orderDetailModal"></div>
	</body>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/shipper.js"></script>
</html>
