<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- BootStrap CSS-->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- BoxIcons -->
		<link
			href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<!-- Autonumeric -->
		<script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
		<!-- Sweetalert -->
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<link rel="stylesheet" href="../static/css/shipper.css" />
		<title>Shipper | My Order</title>
	</head>
	<body>
		<div class="header"></div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-3" style="padding-right: 50px">
					<div class="row">
						<div class="col-sm-12">
							<div class="list-group">
								<a href="#" class="list-group-item"
									>Nguyen Thanh Sang</a
								>
								<a href="#" class="list-group-item long-value"
									>&nbsp;&nbsp;&nbsp;&nbsp;Available Orders</a
								>
								<span class="list-group-item long-value">
									&nbsp;&nbsp;&nbsp;&nbsp;<strong
										>My Orders</strong
									>
								</span>
								<span class="list-group-divider"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-9">
					<h1 class="a_title">Available Orders</h1>
					<div class="table-responsive">
						<div class="dataTables_wrapper no-footer">
							<div class="row">
								<div class="col-sm-5">
									<div class="dataTables_filter">
										<label>
											<input
												type="search"
												class="form-control"
												placeholder="Filter by email, phone number"
											/>
											<i
												class="bx bx-loader-circle bx-spin loading"
											></i>
										</label>
									</div>
								</div>
								<div class="col-sm-7">
									<div
										class="dataTables_paginate paging_simple_number"
									>
										<a
											class="paginate_button previous disabled"
											href="#"
											>Previous</a
										>
										<span>
											<a
												class="paginate_button current"
												href="#"
												>1</a
											>
										</span>
										<a
											class="paginate_button next disabled"
											href="#"
											>Next</a
										>
									</div>
								</div>
							</div>
							<div>
								<table>
									<thead>
										<tr>
											<th class="sorting active">
												<i class="bx bxs-sort-alt"></i
												>Date
											</th>
											<th>Contact</th>
											<th class="sorting active">
												<i class="bx bxs-sort-alt"></i>
												Total Price
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="orders2">
											<td>
												<small>18 06, 2001</small>
											</td>
											<td
												class="td-word-wrap phone-with-xs"
											>
												<div>Nguyen Thanh Sang</div>
												<div>
													<small>0777908037</small>
												</div>
											</td>
											<td>
												<span>$0.00</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="shipper_order1 :: orderDetailModal"></div>
	</body>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/shipper.js"></script>
</html>
