<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="index :: header"></div>
		<title>sStore | Shop</title>
	</head>
	<body>
		<section th:replace="index :: navbar"></section>

		<section id="page-header">
			<h2>#stayhome</h2>
			<p>Save more with coupons & up to 70% off!</p>
		</section>

		<!-- Filter -->
		<section
			class="navbar navbar-expand-lg bg-light rounded"
			aria-label="Twelfth navbar example"
		>
			<div class="container-fluid">
				<button
					class="navbar-toggler collapsed"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#filter"
					aria-controls="filter"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div
					class="navbar-collapse justify-content-md-center collapse"
					id="filter"
				>
					<ul class="navbar-nav">
						<li class="nav-item mx-3">
							<a
								th:class="${gender == -1 ? 'nav-link active' : 'nav-link'}"
								th:href="@{/sStore/shop}"
								>All Products</a
							>
						</li>
						<!-- Men -->
						<li class="nav-item dropdown mx-3">
							<a
								th:class="${gender == 1 ? 'nav-link dropdown-toggle active' : 'nav-link dropdown-toggle'}"
								href="#"
								data-bs-toggle="dropdown"
								aria-expanded="false"
								>Men</a
							>
							<ul
								class="dropdown-menu gap-1 p-2 rounded-3 mx-0 shadow w-220px"
							>
								<li>
									<a
										th:class="${(gender == 1 && type == '') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1)}"
										>All Products</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'T-Shirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='T-Shirt')}"
										>T-Shirt</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Shirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Shirt')}"
										>Shirt</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Polo Shirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Polo'+' '+'Shirt')}"
										>Polo Shirt</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Suit') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Suit')}"
										>Suit</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Hoodie') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Hoodie')}"
										>Hoodie</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Jacket') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Jacket')}"
										>Jacket</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Jeans') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Jeans')}"
										>Jeans</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 1 && type == 'Short') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=1, type='Short')}"
										>Short</a
									>
								</li>
							</ul>
						</li>
						<!-- Women -->
						<li class="nav-item dropdown mx-3">
							<a
								th:class="${gender == 0 ? 'nav-link dropdown-toggle active': 'nav-link dropdown-toggle'}"
								href="#"
								data-bs-toggle="dropdown"
								aria-expanded="false"
								>Women</a
							>
							<ul
								class="dropdown-menu gap-1 p-2 rounded-3 mx-0 shadow w-220px"
							>
								<li>
									<a
										th:class="${(gender == 0 && type=='') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0)}"
										>All Products</a
									>
								</li>
								<li><hr class="dropdown-divider" /></li>
								<li>
									<a
										th:class="${(gender == 0 && type=='T-Shirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='T-Shirt')}"
										>T-Shirt</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Shirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Shirt')}"
										>Shirt</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Sweater') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Sweater')}"
										>Sweater</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Croptop') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Croptop')}"
										>Croptop</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Hoodie') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Hoodie')}"
										>Hoodie</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Jacket') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Jacket')}"
										>Jacket</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Jeans') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Jeans')}"
										>Jeans</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Short') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Short')}"
										>Short</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Dress') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Dress')}"
										>Dress</a
									>
								</li>
								<li>
									<a
										th:class="${(gender == 0 && type=='Skirt') ? 'dropdown-item rounded-2 active' : 'dropdown-item rounded-2'}"
										th:href="@{/sStore/shop(gender=0, type='Skirt')}"
										>Skirt</a
									>
								</li>
							</ul>
						</li>
					</ul>
					<form action="" role="search" id="form-filter">
						<input
							type="number"
							name="pageNum"
							th:value="${pageNum}"
							hidden
						/>
						<input
							type="number"
							name="gender"
							th:value="${gender}"
							hidden
						/>
						<input
							type="text"
							name="type"
							th:value="${type}"
							hidden
						/>
						<input
							class="form-control mx-3"
							type="search"
							name="search"
							placeholder="Search"
						/>
					</form>
				</div>
			</div>
		</section>

		<!-- Display Product -->
		<section id="product1" class="section-p1">
			<div class="pro-container">
				<div
					th:each="product : ${products}"
					class="pro"
					th:id="${product.id}"
					onclick="sproduct(this)"
				>
					<img th:src="@{${product.getMainImage}}" />
					<div class="des">
						<span th:text="${product.branch}">adidas</span>
						<h5 th:text="${product.productName}">
							Cartoon Astronaut T-shirts
						</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4 class="price" th:text="${product.price}">$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
			</div>
		</section>

		<section id="pagination" class="section-p1">
			<a
				th:class="${currentPage &gt; 1 ? '' : 'hide'}"
				th:href="@{/sStore/shop(pageNum=${currentPage - 1}, gender=${gender}, type=${type}, search=${search})}"
				><i class="bx bxs-left-arrow-alt"></i
			></a>
			<th:block th:if="${totalPages &gt; 0}">
				<a
					th:each="i: ${#numbers.sequence(1, totalPages)}"
					th:class="${currentPage == i ? 'active' : ''}"
					th:href="@{/sStore/shop(pageNum=${i}, gender=${gender}, type=${type}, search=${search})}"
					th:text="${i}"
					>1</a
				>
			</th:block>
			<a
				th:class="${currentPage &lt; totalPages ? '' : 'hide'}"
				th:href="@{/sStore/shop(pageNum=${currentPage + 1}, gender=${gender}, type=${type}, search=${search})}"
				><i class="bx bxs-right-arrow-alt"></i
			></a>
		</section>

		<footer th:replace="index :: footer"></footer>

		<div th:replace="index :: loginModal"></div>

		<div th:replace="index :: registerModal"></div>
	</body>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- script -->
	<script src="../static/js/script.js"></script>
	<script>
		const links = document.querySelectorAll("#navbar li a");
		links.forEach((item) => {
			item.classList.remove("active");
		});
		links[1].classList.add("active");
	</script>
</html>
