<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>sStore | Shop</title>
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<!-- BootStrap CSS-->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- BoxIcons -->
		<link
			href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<!-- style -->
		<link rel="stylesheet" href="../static/css/style.css" />
	</head>
	<body>
		<!-- <section id="header">
			<a href="#"
				><img src="../static/image/logo.png" class="logo" alt="" />
				sStore</a
			>
			<div>
				<ul id="navbar">
					<li>
						<a href="../templates/index.html">Home</a>
					</li>
					<li>
						<a class="active" href="../templates/shop.html">Shop</a>
					</li>
					<li><a href="../templates/about.html">About</a></li>
					<li><a href="../templates/blog.html">Blog</a></li>
					<li><a href="../templates/contact.html">Contact</a></li>
					<li>
						<a
							href="#"
							data-bs-toggle="modal"
							data-bs-target="#loginModal"
							>Login</a
						>
					</li>
					<li id="lg-bag">
						<a href="../templates/cart.html"
							><i class="bx bx-shopping-bag"></i
						></a>
					</li>
					<a href="#" id="close"
						><i class="bx bxs-chevron-right-square"></i
					></a>
				</ul>
			</div>
			<div id="mobile">
				<a href="#"><i class="bx bx-shopping-bag"></i></a>
				<i id="bar" class="bx bxs-chevron-left-square"></i>
			</div>
		</section> -->
		<section th:replace="index :: navbar"></section>

		<section id="page-header">
			<h2>#stayhome</h2>
			<p>Save more with coupons & up to 70% off!</p>
		</section>

		<section id="select">
			<ul>
				<li class="menu">
					<a href="">Male</a>
					<ul class="ani-menu">
						<li><a href="">T-Shirt</a></li>
						<li><a href="">Shirt</a></li>
						<li><a href="">Polo Shirt</a></li>
						<li><a href="">Suit</a></li>
						<li><a href="">Hoodie</a></li>
						<li><a href="">Jacket</a></li>
						<li><a href="">Shorts</a></li>
						<li><a href="">Jeans</a></li>
					</ul>
				</li>
				<li class="menu">
					<a href="">Female</a>
					<ul class="ani-menu">
						<li><a href="">T-Shirt</a></li>
						<li><a href="">Shirt</a></li>
						<li><a href="">Sweater</a></li>
						<li><a href="">Croptop</a></li>
						<li><a href="">Hoodie</a></li>
						<li><a href="">Jacket</a></li>
						<li><a href="">Shorts</a></li>
						<li><a href="">Jeans</a></li>
						<li><a href="">Skirt</a></li>
						<li><a href="">Dress</a></li>
					</ul>
				</li>
			</ul>
		</section>

		<section id="product1" class="section-p1">
			<div class="pro-container">
				<div
					class="pro"
					onclick="window.location.href='../templates/sproduct.html'"
				>
					<img src="../static/image/products/f1.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f2.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f3.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f4.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f5.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f6.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f7.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/f8.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n1.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n2.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n3.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n4.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n5.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n6.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n7.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
				<div class="pro">
					<img src="../static/image/products/n8.jpg" alt="" />
					<div class="des">
						<span>adidas</span>
						<h5>Cartoon Astronaut T-shirts</h5>
						<div class="star">
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
							<i class="bx bxs-star"></i>
						</div>
						<h4>$78</h4>
					</div>
					<a href="#"><i class="bx bx-cart cart"></i></a>
				</div>
			</div>
		</section>

		<section id="pagination" class="section-p1">
			<a href="#">1</a>
			<a href="#">2</a>
			<a href="#"><i class="bx bxs-right-arrow-alt"></i></a>
		</section>

		<!-- <section id="newsletter" class="section-p1 section-m1">
			<div class="newstext">
				<h4>Sign Up For Newsletters</h4>
				<p>
					Get E-mail updates about out latest shop and
					<span>special offers.</span>
				</p>
			</div>
			<div class="form">
				<input type="text" placeholder="Your email address" />
				<button class="normal">Sign up</button>
			</div>
		</section> -->
		<section th:replace="index :: newsletter"></section>

		<!-- <footer class="section-p1">
			<div class="f-col">
				<img class="logo" src="../static/image/logo.png" alt="" />
				<h4>Contact</h4>
				<p>
					<strong>Address: </strong> Phong Nhị, Điện An, Điện Bàn,
					Quảng Nam
				</p>
				<p><strong>Phone: </strong> 0777908037</p>
				<p><strong>Hours: </strong> 8:00 - 18:00, Mon - Sat</p>
				<div class="follow">
					<h4>Follow us</h4>
					<div class="icon">
						<i class="bx bxl-facebook"></i>
						<i class="bx bxl-twitter"></i>
						<i class="bx bxl-instagram"></i>
						<i class="bx bxl-pinterest-alt"></i>
						<i class="bx bxl-youtube"></i>
					</div>
				</div>
			</div>

			<div class="f-col">
				<h4>About</h4>
				<a href="#">About Us</a>
				<a href="#">Delivery Information</a>
				<a href="#">Privacy Policy</a>
				<a href="#">Term & Conditions</a>
				<a href="#">Contact Us</a>
			</div>

			<div class="f-col">
				<h4>My Account</h4>
				<a href="#">Sign In</a>
				<a href="#">View Cart</a>
				<a href="#">My Wishlist</a>
				<a href="#">Track My Order</a>
				<a href="#">Help</a>
			</div>

			<div class="f-col install">
				<h4>Install App</h4>
				<p>From App Store or Google Play</p>
				<div class="f-row">
					<img src="../static/image/pay/app.jpg" alt="" />
					<img src="../static/image/pay/play.jpg" alt="" />
				</div>
				<p>Secured Payment Gateways</p>
				<img src="../static/image/pay/pay.png" alt="" />
			</div>

			<div class="copyright">
				<p>&copy; 2021, Tech2 etc - HTML CSS Ecommerce Template</p>
			</div>
		</footer> -->
		<footer th:replace="index :: footer"></footer>

		<div th:replace="index :: loginModal"></div>

		<div th:replace="index :: registerModal"></div>
	</body>
	<!-- BootStrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- script -->
	<script src="../static/js/script.js"></script>
	<script>
		const links = document.querySelectorAll("#navbar li a");
		links.forEach((item) => {
			item.classList.remove("active");
		});
		links[1].classList.add("active");
	</script>
</html>
